.container{
    margin: auto;
    height: 500px;
    width: 300px;
    border: solid 3px black;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 15px;
}

.display{
    border: solid 2px black;
    flex: 1;
    margin-bottom: 15px;
    border-radius: 15px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 5px;
}

button{
    font-size: 30px;
    border-radius: 15px;
    height: 70px;
    width: 70px;
}

button:hover{
    border-color: orange;
    transition-duration: 300ms;
}